.about-subsection[data-v-0928f738]{border-top:1px solid #e0e4ea;padding-top:20px}[data-v-0928f738] .about-section .about-section-content{display:block!important}[data-v-0928f738] .about-section .about-section-content h3{color:#000933}
